# Visualizing the stations and connections of the NYC subway
### A graphical way to visual all the connections between stations in the NYC subway system.

In [14]:
# Import Libraries
import csv
import networkx as nx
import pandas as pd
from pyvis import network as net

In [15]:
# Gather Data
csvFile = "stationCords.csv"
data = pd.read_csv(csvFile);
data

,URL,OBJECTID,NAME,the_geom,LINE,NOTES
0,http://web.mta.info/nyct/service/,1,Astor Pl,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s..."
1,http://web.mta.info/nyct/service/,2,Canal St,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s..."
2,http://web.mta.info/nyct/service/,3,50th St,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights"
3,http://web.mta.info/nyct/service/,4,Bergen St,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times"
4,http://web.mta.info/nyct/service/,5,Pennsylvania Ave,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times"
...,...,...,...,...,...,...
468,http://web.mta.info/nyct/service/,469,Coney Island - Stillwell Av,POINT (-73.9812359981396 40.57728100006751),D-F-N-Q,"D,F,N,Q-all times"
469,http://web.mta.info/nyct/service/,470,34th St - Hudson Yards,POINT (-74.00219709442206 40.75544635961596),7-7 Express,"7-all times, 7 Express-rush hours AM westbound..."
470,http://web.mta.info/nyct/service/,641,72nd St,POINT (-73.95836178682246 40.76880251014895),Q,Q-all times
471,http://web.mta.info/nyct/service/,642,86th St,POINT (-73.95177090964917 40.77786104333163),Q,Q-all times
472,http://web.mta.info/nyct/service/,643,96th St,POINT (-73.9470660219183 40.784236650177654),Q,Q-all times

In [16]:
# Create graph template
net = net.Network(directed=True, notebook=True)

In [17]:
# Find names of stations
stations = []
with open(csvFile, newline='', encoding='utf-8') as f:
    reader = csv.reader(f)
    for row in reader:
        stations.append(row[2])
        
# add stations to pyviz graph
net.add_nodes(stations)

In [18]:
# Display Stations
net.show('edgeless.html')

## Interpretation from new file format:
In the code below, the new file format is interpreted as to display the connections bewtween stations based off of lines to station.

In [20]:
# Gather Data
csvFile = "sample_csv.csv"
data = pd.read_csv(csvFile);
data

,ID,NAME,LAT,LONG,Lines,|,NEIGHBOR 1,DURATION 1,TYPE,|.1,NEIGHBOR 2,DURATION 2,TYPE.1
0,1,TimeSq,0,0,bc,|,2.0,18.0,W,|,NaN,NaN,NaN
1,2,ColumbiaUni,3,4,ab,|,NaN,NaN,NaN,|,NaN,NaN,NaN
2,3,GrandCentral,7,1,c,|,NaN,NaN,NaN,|,NaN,NaN,NaN
3,4,5thAve,12,8,ca,|,NaN,NaN,NaN,|,NaN,NaN,NaN

In [22]:
# station object
class Station():
    def __init__(self, station_id, name="Unkown", lat=0, long=0, lines=[], neighbors=[]):
        self.station_id = station_id
        self.name = name
        self.lat = lat
        self.long = long
        self.lines = lines
        self.neighbors = []
    def __lt__(self, other):
        return 1
    def __eq__(self, other):
        if self.station_id == other.station_id:
            return True
    def __repr__(self):
        return self.station_id
        
class trip():
    def __init__(self, trip_id, start, end, transit_time, walking_time, public_time):
        pass

In [24]:
# instatiate stations and lines
stations = []
lines = set()

with open(csvFile, newline='', encoding='utf-8') as f:
    reader = csv.reader(f)
    for row in reader:
        # skip title row
        if(row[0] == "ID"):
            continue
            
        # init lines used
        lines_used = set(row[4])
        for line in lines_used:
            lines.add(line)

        # init station
        stations.append(Station(int(row[0]), row[1], float(row[2]), float(row[3]), list(row[4])))

In [25]:
# visualize grouping by line
from pyvis import network as net


net = net.Network(directed=True, notebook=True)

# create nodes for stations
for station in stations:
    net.add_node(station.station_id, station.name)
    
# create nodes for lines
net.add_nodes(list(lines))
    
# add edges to stations
for station in stations:
    pass
    for line in station.lines:
        net.add_edge(station.station_id, line)


net.show('nx.html')